.major-div{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    
}



h1{
    margin-bottom: 40px;
}




button {
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    align-self: center;
  }
  
  button:hover {
    background-color: rgb(208, 28, 127);
  }

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;;
    
  }

  .formdiv{
    display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  }

  form input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }